.contactForm{
    color:white;
   // display:grid;
    margin:0 auto;
    margin-bottom:2em;
  //  grid-template-columns: 1fr 2fr 1fr;
 //   grid-template-rows: 1fr auto 1fr;
  //  width:100%;
    .title{
        color:white;
       grid-column:2;
       justify-self: center;
       margin-bottom:1em;
    }
}
.formContainer {
   grid-row:2;
   grid-column:2;
   background-color:rgba(255, 255, 255, 0.306);
  // width:100%;
}
.formWrapper{

//border:1px solid white;
*{
   padding:0.7em;
}

}
//form styles
.contactForm{
  margin-top:2em;
  
   .mainButton{
       height:100%;
   }
}
.contact{ 
   form {
  // display:gird;
  //grid-template-columns:20% 2fr 20%;
  justify-content: center;

}
label{
   display:block;
}
p{
   margin:0;
}
}
.nameArea{
   grid-column: 1/4;

}

.emailArea{
   grid-row:2;
grid-column: 1/4
}


.contact form {
.full{
   grid-column: 1/4;
}
textarea,input{
background:transparent;

}

input, textarea{
    width:100%;
    border:1px solid white;
}

}
