@import '_vars';

//body tags
body{
    font-family:$mainFont;
   display:flex;
   flex-wrap:wrap;
   //display:grid;
  justify-items: center;
   height: 100%;

  

}

//navigation

header{
 
    background:white;
    text-align: center;
    position:fixed;
    width:100%;
    height:3em;
    z-index:500;
}
.navToggle {
    display:none;
}
.navToggleLabel{

 display:flex;
 align-items: center;
 float:right;
 padding:1em;
 margin-top:-1em; //prolly not the right thing to do here
}

.navToggleLabel span,
.navToggleLabel span::before,
.navToggleLabel span::after {
    display:block;
    background:black;
    height:2px;
    width:1.8em;
    border-radius:2px;
    position:relative;

}

.navToggleLabel span::before,
.navToggleLabel span::after {
    content:'';
    position: absolute;
}
.navToggleLabel span::before{
    bottom:7px;
}
.navToggleLabel span::after{ //bottom looks janky not sure why
    top: 7px;
}

nav{
    position: absolute;
    background:white;
    width:100%;
    text-align:center;
    margin-right:1em;
    top: 100%;
    transform: scale(1,0); //nav scroll down animation
    transform-origin:top;
    transition: transform 400ms ease-in-out;
}

nav li{
   margin:0 0 1em 1em;
}

nav a {
    color:black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8 rem;
    margin-right:1em;
    opacity:0;
    transition:opacity 200ms ease-in-out;
}

nav a:hover {
    color:white;
}
.navToggle:checked ~ nav {
    display:block;
    transform: scale(1,1);
}
.navToggle:checked ~ nav a {
    opacity:1;
    transition:opacity 250ms ease-in-out 250ms;

}
//portfolio section
.portfolioContent{
   // padding:10%;
    flex: 1 1 80%;
    min-height:300vh;
    justify-content: center;
    align-items:center;
}

.portfolio{
    display:grid;
    height:100%;
   // grid-gap:10px;

}

.portfolioImage{
    
    display:flex;
    justify-content: center;
    align-items: center;
    background-blend-mode:soft-light;
    background-position:center;
    background-color:teal;
}
 .portfolioImage:hover{
     background-blend-mode: inherit;

 }
 #image1{
    background-image: url(..//images/pink.jpg);

 }
 #image2{
    background-image: url(..//images/pure.png);

 }

 //InstagramFeed
 .instaImage { //indivial images
    border-radius:50%;
    margin:10px;
}
 #instaSection{
    flex: 1 1 80%;
    min-height:300vh;
    justify-content: center;
    align-items:center;
 }

 #instafeed{
margin-top:30px;
justify-content: center;
margin:0 auto;
text-align:center;
//background-color: red;

 }

//media queries 

@media screen and (min-width:800px){
    //navigation
    .navToggleLabel{
        display:none;
    }
    header{
        display:grid;
        grid-template-columns:1fr auto minmax(600px,3fr) 1fr;
    }
    .logo{
        grid-column: 2 / span 1;
    }
    nav{
        all:unset;
        grid-column: 3 / 4;
        display:flex;
        justify-content: flex-end;
        margin-top:1em;
    }
    nav ul{
        display:flex;
        justify-content: flex-end;
    }
    nav a{
        opacity:1;
    }
    .portfolio{ //portfolioo
      
       grid-template-columns:repeat(3, 1fr);
       grid-template-rows:repeat(2,1fr);
       grid-gap:10px;
       padding: 5%;
    
    }
    .portfolioContent{
        min-height:100vh;
    }

    //instagram

        
  

    .instaImage:hover{
        border-radius:inherit;
        transition:all 0.5s ease-out;
    }
  #instaFeed{
    grid-template-columns:repeat(3, 2fr);
    grid-template-rows:repeat(2,1fr);
    //flex: 1 1 80%;
  }
    #instaSection { 
   // grid-template-columns:repeat(3, 2fr);
   // grid-template-rows:repeat(2,1fr);
 margin:0 5% 0 5%;
    grid-gap:10px;
    padding: 5%;

    }
}
